<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @keyword.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @keyword.user %>
</p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
